.burger_menu{
    width: 200px;
    height: 100vh;
    background-color: aqua;
    top: 0;
    position: absolute;
    left: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.burger img{
display: inline-block;
    width: 30px;
    height: 30px;
}
.close img{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 20px;
}