#modal_btn {
  width: 100%;
}

.modal {
  width: 600px;
  height: 400px;
  background-color: purple;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.642);
  position: fixed;
  top: 0;
  left: 0;
}

#button2 {
  width: 30px;
  height: 30px;
}