.cards{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.test1{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: bisque;
}
